.cart {
    padding-top: 70px;
    padding-bottom: 70px;
    min-height: calc(100vh - 40px);
}

.cart-nav {
    text-transform: uppercase;
    margin: 30px auto;
    text-align: center;
    
}

.cart-nav a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-weight: 300;
}

.cart hr {
    height: 2px;
    border: none;
    background: rgba(128, 128, 128, .2);
    width: 90%;
    margin: 0 auto;
}

.cart-grid {
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    grid-template-rows: 1fr;
    margin: 0 20px;
}

.cart-products {
    position: relative
}

.cart-products table {
    width: 100%;
    margin-top: 50px;
}

.cart-products th  {
    text-align: left;
    border-bottom: 2px solid rgba(128, 128, 128, .4);
    
}
tr.border-bottom td {
    border-bottom: 1px solid rgba(128, 128, 128, .4);
    
  }



.cart-products th, td,
.cart-summary th, td {
    padding: 10px;
}

.item-name {
    display: inline-block;
    margin-left: 10px;
  
}

.product-flex {
    display: flex;
    align-items: center;
}

.amount span, .count1 {
    margin-right: 10px;
}



.amount button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
    background: white;
    cursor: pointer;
    outline: none;
    transition: .2s ease-in-out;
    line-height: 10px;
}

.amount button:hover {
    background: rgb(56, 56, 56);
    color: white;
    border: 1px solid rgb(56, 56, 56);
}

.amount span {
    font-variant-numeric: tabular-nums;
    opacity: .6
}

.delete {
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 0.5;
    margin-right: 5px;
}



.cart-summary table {
    margin-left: 20px;
    margin-top: 50px;
    width: 40vw;
    border-bottom: 3px solid rgba(128, 128, 128, .4);
}

.cart-summary th {
    border-bottom: 2px solid rgba(128, 128, 128, .4);
}

.cart-totals {
    text-align: left;
}

.summary-row td:nth-child(2) {
    text-align: right;
}

tr.summary-row-border-bottom td {
    border-bottom: 1px solid rgba(128, 128, 128, .4);
   
}

.bold {
    font-weight: 600;
}


.checkout-btn {
    text-transform: uppercase;
    height: 40px;
    width: calc(100% - 20px);
    margin-left: 20px;
    margin-top: 20px;
    background: black;
    color: white;
    cursor: pointer;
    outline: none;
    font-weight: 600;
    font-size: 16px;
    border: none;
}

.cart-hr {
    position: absolute;
    right: -10px;
    top: 50px;
    height: 95% !important;
    width: 1px !important;
    border: none;
    background:rgba(128, 128, 128, .2) !important;

}

.back-btn {
    width: 25%;
    height: 40px;
    text-transform: uppercase;
    margin-top: 10px;
    background: white;
    color: black;
    cursor: pointer;
    outline: none;
    padding: 10px;
    border: 2px solid black;
    transition: .2s ease-in-out;
    font-weight: 600;
}

.back-btn:hover {
    background: black;
    color: white;
}

.empty {
    margin-top: 50px;
}

.empty-btn {
    position: absolute;
    margin-top: 30px;
    left: 50%;
    transform: translateX(-50%);
}