.comment {
    display: flex;
}

.comment li {
    list-style-type: none;
}

.star2 {
    display: flex;
}

.comment-inner {
    margin-top: 10px;
    margin-left: 10px;
    width: 100vw;
}

.comment-text {
    margin-bottom: 20px;
    display: block;
    font-style: normal !important;
    
}

.comment-inner p {
    font-style: italic;
    font-size: 12px;
}