footer {
    height: 150px;
    background: #252525;
    color: white;
    /* margin-top: 40px; */
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
}

.payment-types {
   margin-bottom: 10px;
}

.p-icon {
    margin: 0 10px;
    font-size: 40px;
    opacity: .5;
    transition: .2s ease-in-out
}

.p-icon:hover {
    opacity: 1;
}

.copyright {
    margin-bottom: 15px;
}

.copyright p {
    font-size: 10px;
}

.s-icon {
    margin: 0 10px;
    cursor: pointer;
    transition: .2s ease-in-out
}

.s-icon:hover {
    color: rgb(113, 151, 233);
}