.products-page{
    padding-top: 70px;
    position: relative;
    min-height: calc(100vh + 800px);
    overflow-y: hidden;
}

.products-sidebar {
    padding: 10px 20px;
    position: absolute;
    display: block;
    float: left;
    width: 20%;
    min-width: 150px;
    height: 100%;
    /* background: rgba(228, 228, 228, 0.4); */
    min-height: calc(100vh - 70px);
}

.sidebar-nav {
    display: flex;
    margin-bottom: 30px;
    margin-top: 10px;
}
.sidebar-nav a {
    text-decoration: none;
    color: rgba(136, 136, 136, 0.8);
    font-size: 1.2rem;
    margin-right: 5px;
}

.sidebar-nav a:hover {
    color: black;
}
.sidebar-nav h3 {
    font-size: 1.2rem;
    margin-left: 5px;
    font-weight: 500;
}

.products {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
   grid-template-rows: auto;
   grid-row-gap: 2rem;
  grid-column-gap: 40px;
   padding: 50px 50px;
   align-items: center;
   text-align: center;
   position: relative;
   margin-left: calc(100vw - 80%);
   
  
   
}

.product-ammount {
    position: absolute;
    color: black;
    text-align: center;
    right: 25px;
    margin-top: 10px;
}
.product-error {
    font-size: 20px;
    text-align: left;
    padding-top: 50px;
    margin-left: 25%;
}

.hero-container {
    background-image: url("../images/hero2.jpg");
    background-size: cover;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  
}

.hero-text {
    text-transform: uppercase;
    color: white;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-20%, -50%);
    font-size: 2rem;
    text-align: center;
}

.sidebar-nav-mobile{
    display: flex;
    justify-content: center;
    
}


.mobile-shop-head {
    text-align: center;
    display: none;
}

.sidebar-nav-mobile a {
    text-decoration: none;
    color: rgba(136, 136, 136, 0.8);
    font-size: 1.2rem;
    margin-right: 5px;
}

.products-sidebar-mobile {
    margin: 10px 0;
}

@media (max-width: 850px) {
    .products-sidebar{
        display: none;
    }
    .products {
        margin-left: 0;
    }
    .mobile-shop-head {
        display: block;
    }
    
}

@media (max-width: 550px) {
    .products {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    }
    .hero-text h1 {
        font-size: 30px;
        
    }
    .hero-text {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .product-ammount p {
        display: none;
    }
}

