.img-container {
    overflow: hidden;
    height: 240px;
    position: relative;
}

.img-container img{
    width: 248px;
    height: 240px;
    transition: .2s ease-in-out;
    background-size: contain;
}

.product {
    width: 250px;
    margin: 0 auto;
    transition: .2s ease-in-out
}

.product-details p:nth-child(1){
    font-size: 12px;
    text-transform: uppercase;
    opacity: .5;
    margin-top: 5px;
}

.product-details h5{
    margin: 5px 0;
    font-size: 16px;
    font-weight: 500;
}

.product-details :nth-child(3){
    font-weight: bold;
}

.add-to-cart {
    padding: 5px 15px;
    margin-bottom: 10px;
    margin-top: 5px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    background: transparent;
    border: 2px solid black;
    transition: .2s ease-in-out;
    cursor: pointer;
    outline: none;
}

.add-to-cart:hover {
    background: black;
    color: white;
}


.product:hover{
    -webkit-box-shadow: 0px 1px 2px 1px rgba(235,235,235,1);
    -moz-box-shadow: 0px 1px 2px 1px rgba(235,235,235,1);
    box-shadow: 0px 1px 2px 1px rgba(235,235,235,1);
}

.product:hover img{
    transform: scale(1.1);
}

.view {
    background: black;
    color: white;
    width: 100%;
    position: absolute;
    bottom: 0%;
    opacity: 0;
    transition: .2s ease-in-out;
    height: 0%;
}

.product:hover .view{
    opacity: 1;
    height: 10%;
}

.view:hover {
    color: rgb(207, 207, 207);
}

.MuiSnackbarContent-root{
    background-color: rgb(198, 241, 181) !important;
    color: black;
}

.MuiPaper-elevation6 {
    box-shadow: 
    none !important
}

.MuiSnackbarContent-message {
    color: black;
}

@media (max-width: 850px){
    .product-details h5{
        font-size: 14px;
    }
    .products {
        padding: 50px 0;
    }
    .product{
        width: 200px;
    }
    .img-container img {
        width: 208px;
        height: 200px;
    }
}

@media (max-width: 733px) {
    .product{
        width: 250px;
    }
    .img-container img {
        width: 258px;
        height: 250px;
    }
}



@media (max-width: 302px) {
    .product {
        margin: 0 5%;
    }
}




