.products-page{
    padding-top: 70px;
}

.products-sidebar {
    float: left;
    width: 20%;
    min-width: 250px;
    height: 2000px;
    background: rgb(179, 176, 176);
}

.products {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
   grid-template-rows: auto;
   grid-row-gap: 2rem;
  grid-column-gap: 40px;
   padding: 0 50px;
   align-items: center;
   text-align: center;
   
}