.singleproduct {
    padding-top: 70px;
    padding-bottom: 70px;
}

.product-banner {
    height: 100px;
    background: rgb(238, 238, 238);
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
}

.product-banner h2 {
    font-weight: 500;
}

.product-banner a{
    text-decoration: none;
    color: rgba(126, 126, 126, .5);
    font-size: 15px;
}

.product-banner a:hover {
    color: black;
}

.single-product-container {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.styles_container__2pRR5 img{
     width: 70%;
   
    
}

.single-product-info {
    text-align: center;
}

.back-arrow {
    margin-top: 30px;
    background: transparent;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 25px;
    transition: .2s ease-in-out;
    cursor: pointer;
    color: black;
}

.back-arrow:hover {
    background: black;
    color: white;
}

.single-product-info h2 {
    margin-top: 10px;
}

.single-product-info hr {
    width: 30px;
    height: 3px;
    border: none;
    background: rgba(17, 17, 17, .2);
    margin: 10px auto;
}

.single-product-description {
    margin: 40px 50px;
    font-size: 14px;
    line-height: 1.8rem
}

.product-social {
    margin-top: 100px;
    font-size: 30px;
}

.social-icon {
    margin: 0 10px;
    cursor: pointer;
    opacity: .5;
    transition: .2s ease-in-out;
    display: block;

}

.social-icon:hover {
    opacity: 1;
    color: #3b5998
}

.icon {
    display: inline-block;
    position: relative;
    margin-right:10px;
    margin-left: 10px;
}

.icon span {
 font-size: 10px;
 text-align: center;
 display: block;
 width: 120px;
 background: black;
 color: white;
 padding: 5px 0;
 border-radius: 8px;
 position: absolute;
 left: -75%;
 bottom: -150%;
 margin: 0 auto;
 opacity: 0;
 transition: 0.1s;

}

.icon span:before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: -6px;
    background: black;
    z-index: -1;
    left: 58px;
    transform: rotate(45deg)
}

.icon:hover > span {
    opacity: 1
}

.single-hr {
    margin-top: 30px;
    opacity: .2;
}

.single-product-add-cart {
    background: black;
    color: white;
    width: 150px;
    margin: 0 auto;
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
}

.magnifier {
    width: 100%;
}

@media (max-width: 750px) {
    .single-product-container{
        grid-template-columns: 1fr;
        grid-template-rows: .2fr 1fr;
    }
}


@media (max-width: 450px) {
    .product-banner h2 {
        font-size: 20px;
    }
    .product-banner a {
        font-size: 10px;
    }
    .product-banner {
        padding-top: 20px;
    }
    .magnifier {
        display: none;
        width: 100px;
    }
    .styles_magnifying-glass__12Z9V {
       display: none;
    }
}

@media (max-width: 312px) {
    .icon {
        font-size: 20px;
        margin: 0;
    }
    .single-product-info h2 {
        font-size: 15px;
    }
}